.product-image {
  width: 170px;
  height: 170px;
  border-radius: 12px;
}

.product-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 20px;
  border-radius: 12px;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #7d7171;
  color: rgb(48, 2, 2);
  box-shadow: 0px 0px 6px 0px black;
  height: 350px;
  width: 250px;
  padding: 12px;
  border-radius: 20px;
  background-color: rgb(234, 233, 233);
}
.product-card:hover {
  box-shadow: 0px 0px 10px 1px black;
  border: 1px dashed black;
}

.product-card h3 {
  color: #007bff;
}

.product-short-desc {
  font-size: 14px;
  margin: 0px;
}

.product-price {
  font-size: 16px;
}

.view-details-link {
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
}
.view-details-link:hover {
    font-weight: 700;
    text-decoration: underline;
}
 
.pagination {
    margin-top: 40px;
}

.pagination-btn {
    width: 100px;
    font-family: Rockwell;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
    background-color: #e2dede;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.pagination-btn:hover {
    font-weight: 600;
}

@media screen and (max-width: 600px) {
  .product-image {
    width: 130px;
    height: 130px;
  }
  .product-grid {
    justify-content: flex-start;
  }
  .product-card {
    width: 180px;
    height: 270px;
  }
  .product-card h3 {
    font-size: 1em;
  }
  .product-short-desc {
    font-size: 12px;
  }
  .product-price {
    font-size: 14px;
  }
  .view-details-link {
    font-size: 13px;
  }
}