.product-image {
  width: 170px;
  height: 170px;
  border-radius: 12px;
}

.product-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 20px;
  padding: 16px;
  background-color: rgb(227, 240, 212);
  border-radius: 12px;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #7d7171;
  color: rgb(48, 2, 2);
  box-shadow: 0px 0px 6px 0px black;
  height: 350px;
  padding: 12px;
  border-radius: 8px;
}

.product-card h3 {
  color: #007bff;
}

.view-details-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
}
.view-details-link:hover {
    font-weight: 700;
    text-decoration: underline;
}
 
.pagination {
    margin-top: 40px;
}

.pagination-btn {
    width: 100px;
    font-family: Rockwell;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
    background-color: #e2dede;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.pagination-btn:hover {
    font-weight: 600;
}