
.App {
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(171, 174, 167);
  min-height: 100vh;
  scroll-behavior: smooth;
  transition: 0.8s;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}


/* Enquiry Form */
.enquiry-section {
  margin-top: 40px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: left;
}

.enquiry-form input, .enquiry-form textarea, .filters input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.enquiry-form button {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.success-message {
  color: green;
  font-weight: bold;
}

.error-message, .error {
  color: red;
  font-weight: bold;
}

.tailspin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}